header {
    margin-top: 30px;
    color: #2E99A9;
}

hr {
    border-width: 3px;
    border-color: #2E99A9;
    margin: 30px 09;
}

h1 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.align-right {
    text-align: right;
}

