th {
    font-size: 14px;
}

td {
    font-size: 12px;
}

.user-hr hr {
    border-width: 1px;
    border-color: #8F8F8F;
    margin: 50px 0;
}

.filter-start {
    margin: 10px 0 0 0;
}

.pivot-table {
    margin-top: 30px;
}

.dl-btn {
    margin-bottom: 100px;
}