<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>view_table</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../static/common.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="../static/common.js"></script>
</head>

<body>
    <div class="container">
        <header>
            <div class="row">
                <div class="col-sm-6">
                    <h1>表示条件の選択</h1>
                </div>
                <div class="col-sm-6 align-right">
                    <a href="/">TOPへ戻る</a>
                </div>
            </div>
        </header>
    </div>
    <!-- container -->

    <hr>

    <!-- select columns main-->
    <div class="container">
        <form action={{url_for( 'view_table')}} method="POST" class="row">
            <div class="col-sm-8 offset-sm-2">

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="v_cond">縦のカテゴリ</label>
                        <select id="v_cond" name="v_cond" class="form-control" required>
                            <option value="">選択してください</option>
                            {% for element in columns %}
                            <option value={{element}}>{{element}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group col-sm-6">
                        <label for="name">横のカテゴリ</label>
                        <select id="h_cond" name="h_cond" class="form-control" required>
                            <option value="">選択してください</option>
                            {% for element in columns %}
                            <option value={{element}}>{{element}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 filter-start">フィルター :</div>
                    <div class="form-group col-sm-6">
                        <label for="filter_key">キー</label>
                        <select id="filter_key" name="filter_key" class="form-control">
                            <option value={{None}}>選択してください</option>
                            {% for element in origin_columns %}
                            <option value={{element}}>{{element}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group col-sm-6">
                        <label for="filter_value">値</label>
                        <select id="filter_value" name="filter_value" class="form-control">
                            <option value={{None}}>選択してください</option>
                            {% for group in origin_columns %}
                                {% for value in unique_dict[group] %}
                                <option value={{value}} data-val={{group}}>{{value}}</option>
                                {% endfor %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <button type="submit" class="btn btn-info">決定</button>

            </div>
            <!-- col-sm-8 -->
        </form>
    </div>

    <hr>

    <div class="container">
        <footer>
            <p>&copy; SuperStudio</p>
        </footer>
    </div>
    <!-- container -->

    <script src="../static/dynamic_pulldown.js"></script>

</body>

</html>